# [VITE_API_BASE_URL] Đường dẫn tới Node.js Backend API
# Localhost thì thường là port 5000
# Production Render thì đây là cái URL của Render Backend Services (VD: https://my-backend.onrender.com/api)
VITE_API_BASE_URL=http://localhost:5000/api

# [VITE_SOCKET_URL] Đường dẫn trần để móc Websocket (Socket.io)
# Khác với API base vì cái này không có /api ở đuôi!
# (VD: https://my-backend.onrender.com)
VITE_SOCKET_URL=http://localhost:5000
